html, body {
  height: 100%;
  width: 100%;
}

.mainimg {
  max-width:100%;
  height: 150px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  float: right;
  -ms-interpolation-mode:bicubic;
}

.nav {
  /*background-color: #36923C;*/
  background-color: #180C17;
  color: white;
}

.card {
  width: 300px;
}

.card-content {
  padding: 10px;
}

h1 {

  font-family: 'Roboto Slab';
  font-size: 2.5em;
  border-color: #141014;
  border-bottom: 1px solid;
  border-right: 1px solid;
  padding-right: .5em;
  margin-bottom: 1em;
  margin-left: -1em;
  display: inline;
}

h2 {
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: #141014;
  border-bottom: 1px solid;
}

p {
  margin-left: 1em;
}

a.nav-item.is-tab:hover {
  /*border-bottom: 2px solid #E2F5E3;*/
  color: #796F78;
  border-bottom: 2px solid #F0DCEE;
}

a.nav-item {
  color: white;
  font-family: 'Source Sans Pro';
  font-size: 1.5em;
}

.nav-center {
  margin-right: 1em;
}

.namehead {
  font-family : 'Roboto Slab';
  font-size: 35px;
  color: #EEF0FA;
  padding: 3px;
}

.is-brand:hover {
  background-color: #796F78;
}

.short-desc {
  margin-top: .5em;
  font-size: 1.5em;
}

.research li {
  padding-bottom: .50em;
}

.media p {
  margin-top: .25em;
}

.blog-text p {
  margin-top: .5em;
  line-height: 1.5em;
}

.blog-text ol {
  display: block;
  margin-left: 3em;
}

.blog-text ul {
  margin-left: 3em;
}

.blog-text img {
  width: 550px;
  float: right;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.blog-list a {
  font-size: 1.25em;
}

.writing-list a {
  font-size: 1.25em;
}

.writing-list li {
  padding-bottom: .5em;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #180C17;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  width: 100%;
  left: 0;
  bottom: 0;  
}


