@font-face{
  font-family: voltaire;
  src: url(fonts/Voltaire-Regular.otf);
}

@font-face{
  font-family: fengardon;
  src: url(fonts/FengardoNeue_Regular.otf);
}

.heading{
   /* background-color: #0F0E0F; */
  background-image: linear-gradient(to bottom, #0f0e0f , #FFFFFF);

}

.mainimg {
  max-width:100%;
  height: 150px;
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
  vertical-align:middle;
  border-radius: 25px;
  -ms-interpolation-mode:bicubic;
}

.me {
  font-family: voltaire, Helvetica Neue, sans serif;
  margin-top: 35px;
}

.me a{
  font-size: 35px;
  text-decoration: none;
  color: #F0FFFF;
}

.me p{
  font-size: 25px;
  padding-left: 20px;
}

.nav.nav-tabs.nav-justified{
  margin-top: 5px;
}

.written{
  font-family: fengardon;
  background-color: #ffffff;
}


.footer{
  background-color: #ffffff;

  font-family: Helvetica;
  font-size: 15px;

}

