@font-face {
  font-family: ghandi;
  src: url(/fonts/gandhi-sans/GandhiSans-Regular.otf);
}

@font-face {
  font-family: neris;
  src: url(/fonts/neris/Neris-SemiBold.otf);
}

@font-face {
  font-family: ghandi;
  src: url(/fonts/gandhi-sans/GandhiSans-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: ghandi;
  src: url(/fonts/gandhi-sans/GandhiSans-Italic.otf);
  font-style: italic;
}

@font-face {
  font-family: ghandi;
  src: url(/fonts/gandhi-sans/GandhiSans-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}

html, body {
  height: 100%;
  width: 100%;
}

.mainimg {
  max-width:100%;
  height: 150px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;
  border-radius: 25px;
  -ms-interpolation-mode:bicubic;
}

.nav-head {
  background-color: #242329;
  font-family: Helvetica Neue, sans serif;
  width : 100%;
  height : auto;
  position: relative;
  vertical-align: bottom;

}

.namehead {
  font-family : neris;
  font-size: 35px;
  color: #EEF0FA;
  float:left;
}

.nav-head a {
  text-decoration: none;
}

.nav-links {
  height: inherit;
  display: block;
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  float: right;
} 

.nav-links li{
  display: inline;
  font-size: 16px;
  padding: 0px 25px 25px 0px;
}

.nav-links a{
  color: #EEF0FA;
  text-decoration: none;
}

.nav-links a:hover{
  color: #797A7F;
}

.heading {
  margin-left: 25px;
}

.heading h1 {
  font-size: 40px;
}

.content{
  min-height:100%;
  font-family: ghandi;
  font-size: 16px;
  padding-top: 35px;
  padding-bottom: 25px;
}

.row {
  margin:0px;
}


footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #242329;
  color: #EEF0FA;
  font-family: Helvetica;
  font-size: 15px;
  width: 100%;
  left: 0;
  bottom: 0;  
}

li img {
    width: 550px;
}

