<!DOCTYPE html>
<head>
	<meta charset="utf-8">
    <meta property="og:title" content="Michael Skirpan's Personal Website">
    <meta property="og:url" content="http://mwskirpan.com">
    <meta property="og:site_name" content="MWSkirpan's Site">
    <!--
    <meta property="og:image" content="placeholder for preview">
    -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{ partial "meta.html" . }}

    <title> {{ .Title }} @ mwskirpan.com </title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "imports.html" . }}

</head>
