<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Slab|Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
<link rel="stylesheet" href="/css/bulma.css">
<link rel="stylesheet" href="/css/mystyle.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


