<nav class="nav">
    <div class="container">
	<div class="nav-left has-text-centered r-border">
		<a class="nav-item is-brand" href="{{ .Site.BaseUrl }}">
			<span class="namehead">MWS</span>
		</a>
		<span class="nav-item">writer. creative coder. educator.</span>
	</div>

	<div class="nav-center">
    	<a class="nav-item" href="https://github.com/wannabeCitizen">
	      <span class="icon">
	        <i class="fa fa-github"></i>
	      </span>
    	</a>
    	<a class="nav-item is-tab" href="/files/Skirpan_Bio.pdf">
			CV
		</a>
		<a class="nav-item is-tab" href="/writing/">
			Writing 
		</a>
		<a class="nav-item is-tab" href="/projects/">
			Projects 
		</a>
		<a class="nav-item is-tab" href="/research/">
			Research
		</a>
		<a class="nav-item is-tab" href="/blog/">
			Blog
		</a>
		
    </div>
    </div>
</nav>
<div class="container">
