{{ partial "header.html" . }}

<body lang="en">

    {{ partial "nav.html" . }}

    <section class="section">
        <div class="columns content">

            <div class="column is-9 is-offset-1 research">
                <h1>Research</h1>
                <p class="short-desc">Put broadly, my research interests involve ethics, public communication, and risk analysis of emerging technologies. I also have a keen interest in democratic education and exploring alternative classroom and learning models.</p>
                <h2>Technology Ethics</h2>
                <ul style="list-style-type: none;">
                    <li><a href="/files/FATML2017.pdf">The Authority of "Fair" in Machine Learning</a>: Co-authored with Micha Gorelick, this piece looks at the currently literature of Fair ML, discussing the implications of expanding the operating definition of fairness. The aim of the paper is to push ML engineers to consider contextual and democratically-derived notions of fairness within their practice. [Published and Presented in Proceedings of KDD 2017 - Workshop on Fair, Accountable, and Transparent Machine Learning]</li>
                    <li><a href="/files/Comps.pdf">Survey of Data Ethics</a>: Written for my PhD comps examination at CU-Boulder in Summer 2016, the paper gives a survey of the emerging field of data ethics. The paper gives a historical overview of where questions within data ethics find their roots and what open problems the field has right now.</li>
                </ul>
                <h2>Design Fiction, Risk, and Futures</h2>
                <ul style="list-style-type: none;">
                    <li><a href="/files/QSelfShow.pdf">More Than a Show: Using Personalized Immersive Theater to Educate and Engage the Public in Technology Ethics</a>: This paper reports the design considerations and audience impacts of experiencing a novel immersive theater piece that discusses the ethics of our future, Quantified Self. [Published in ACM SIG-CHI 2018]</li>
                    <li><a href="/files/QSelfEd.pdf">Quantified Self: An Interdisciplinary Immersive Theater Project Supporting a Collaborative Learning Environment for CS Ethics</a>This paper looks at the educational impacts on the production crew that worked on an immersive theater piece about technology ethics. [Published in ACM SIG-CSE 2018]</li>
                    <li><a href="/files/AtStake.pdf">What's at Stake: Characterizing Risk Perceptions of Emerging Technologies</a>: A survey study looking at how experts and non-experts characterize and compare risks posed by new technologies.[Published in ACM SIG-CHI 2018]</li>
                    <li><a href="/files/GroupDF18.pdf">Ad Empathy: A Design Fiction</a>: A design fiction submitted to SIG-GROUP 2018 meant to provoke discussion around the distinction between novel forms of target marketing using AI and unwelcome personalized manipulation of users.[Published in Proceedings of ACM GROUP 2018]</li>
                    <li><a href="/files/Spec_CVPR.pdf">Designing a Moral Compass for Computer Vision Using Speculative Analysis</a>: This paper take a critical look at trends within the contemporary computer vision (CV) literature. Synthesizing topics out of research and current events, the paper discusses what technological trends might lead to the biggest harm. The paper then offers scenarios meant to provoke debate on the future trajectories of certain CV technologies. [Published and Presented in Proceedings of IEEE CVPR 2017]</li>
                </ul>
                <h2>Pedagogy and Science Communication</h2>
                <ul style="list-style-type: none;">
                    <li><a href="/files/Ethics_Ed.pdf">Ethics Education in Context: A Case Study of Novel Ethics Activities for the CS Classroom</a>: Summer of 2017, I taught a self-designed Human-Centered Computing Course that I studied and published about the course structure and results of our activities. [Published in ACM SIG-CSE 2018]</li>
                    <li><a href="https://www.denverpost.com/2017/08/04/tech-companies-want-your-data-and-concerns-go-far-beyond-privacy/">Tech companies want your data, and concerns go far beyond privacy</a>: a Denver post piece about the concerning realities of the data market that are shaping our future.</li>
                    <li><a href="http://blog.fastforwardlabs.com/2015/09/24/how-do-neural-networks-learn.html">How Do Neural Networks Learn?</a>: Written as a blog post at the end of my internship with Fast Forward Labs, I designed a visualization and wrote a plain-language explanation of what learning means in the context of neural networks.</li>
                    <li><a href="/files/hackathon.pdf">Beyond The Flipped Classroom</a>: This is a paper published in SIGSCE 2015 about a model and implementation of hackathons for active, flipped classrooms in a college class setting.</li>
                    
                </ul>

        </div>
    </section>

    {{ partial "footer.html" . }}

</body>
