{{ partial "header.html" . }}

<body lang="en">

    {{ partial "nav.html" . }}

    <section class="section">
        <div class="columns content">

            <div class="column is-9 is-offset-1 writing-list">
                <h1>Writing</h1>
                <h2>Fiction</h2>
                <ul style="list-style-type: none;">
                    <li><a href="/files/DreamDate_v1.pdf">Dream Date</a>: This is a sci-fi / spec-fi short story about the potential future dangers of data ownership, given current practices of data ownership and sharing. It's also a fun thought experiment about what it'd be like to find your ideal partner by analyzing your dreams!</li>
                    <li><a href="/files/Am_Psych_90s.pdf">Private Life of American Psychology - Part 1</a>: This is a work in progress of a novel I'm working on that takes place over a 30 year time period. The part here comes from the 1990's and may be enjoyable to some people to get to know the characters and be nostalgic for the 90's</li>
                    <li><a href="/files/DOLL.pdf">Death of a Lunch Lady</a>: This is a short story inspired by a tragic death that happened in my neighborhood growing up.</li>
                    <li><a href="/files/MOI.pdf">Matter of Interpretation</a>: This is a short piece about a Christmas Dinner between family where each generation is going through changes that are harder and harder to bridge.</li>
                </ul>
                <h2>Non-Fiction</h2>
                    <ul style="list-style-type: none;">
                        <li><a href="/files/Sellars.pdf">Modern Science and the Sellarsian Worry</a>: A philosophy essay from a graduate course I took with Robert Brandom at University of Pittsburgh on Wilfrid Sellars and the place of humans in metaphysics. Old, but maybe interesting enough to go in here.</li>
                    </ul>
            </div>
        </div>
    </section>

    {{ partial "footer.html" . }}

</body>
